<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
<!--    <link th:href="@{/css/bootstrap.min.css}"-->
<!--        href="../css/bootstrap.min.css" rel="stylesheet">-->
    <link type="text/css" href="../css/basic.css" rel="stylesheet">
    <link type="text/css" href="../css/login.css" rel="stylesheet">

    <title>CheckMate</title>
</head>
<body>

<form action="" th:action th:object="${loginForm}" method="post">

    <div class="ring">
        <i style="--clr:#F9EAFF;"></i>
        <i style="--clr:#FEF6FF;"></i>
        <i style="--clr:#00A6FF;"></i>
        <div class="login">
            <h2>Login</h2>
            <div class="inputBx">
                <input type="text" id="Name"
                       th:field="*{Id}"
                       placeholder="이름을 입력하세요.">
            </div>
            <div class="inputBx">
                <input type="password" id="Passwd"
                       th:field="*{password}"
                       placeholder="비밀번호를 입력하세요.">
            </div>
            <div class="inputBx">
                <button type="submit">LOGIN</button>
            </div>
            <div class="links">
                <a href="/member/add">Signup</a>
            </div>
        </div>
    </div>

</form>

</body>
</html>