<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/lists.css" rel="stylesheet">

    <title>CheckMate</title>
</head>
<body>

<section class="container container2">

    <div class="list2">
        <div class="list2Div">
            <label for="itemSequence">List Sequence</label>
            <input type="text" id="itemSequence" name="itemSequence" value="1" th:value="${list.itemSequence}" readonly>
        </div>
        <div class="list2Div">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" value="title" th:value="${list.title}" readonly>
        </div>
        <div class="list2Div">
            <label for="date">Date</label>
            <input type="text" id="date" name="date" value="date" th:value="${list.date}" readonly>
        </div>
        <div class="list2Div">
            <label for="content">Content</label>
            <input type="text" id="content" name="content" value="content" th:value="${list.content}" readonly>
        </div>
    </div>


    <button class="listButton listButton2"
            onclick="location.href='edit.html'"
            th:onclick="|location.href='@{/list/{sequence}/edit(sequence=${list.itemSequence})}'|"
            type="button">Edit
    </button>

    <button class="listButton listButton2"
            onclick="location.href='lists.html'"
            th:onclick="|location.href='@{/list}'|"
            type="button">To List
    </button>

</section> <!-- /container -->

</body>
</html>