<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="../css/lists.css" rel="stylesheet">

    <title>CheckMate</title>
</head>
<body>

<section class="container">

    <h1 id="site">Write To-do</h1>

    <form action="" th:action th:object="${list}" method="post">

        <div id="titleDiv" class="Div">
            <label for="Title">Title</label>
            <input type="text" id="Title" th:field="*{title}"
                   placeholder="제목을 입력하세요.">
        </div>
        <div id="contentDiv" class="Div">
            <label for="Content">Content</label>
            <input type="text" id="Content" th:field="*{content}"
                   placeholder="내용을 입력하세요.">
        </div>

        <div>
            <div class="buttons write">
                <button class="listButton de" type="submit">Submit</button>
            </div>
            <div class="buttons write">
                <button class="listButton de"
                        th:onclick="|location.href='@{/list}'|"
                        type="button">CANCEL</button>
            </div>
        </div>

    </form>

</section> <!-- /container -->
</body>
</html>